/* -------------------------------------------------------------------------- */
/*                                Font Weights                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             General Text Styles                            */
/* -------------------------------------------------------------------------- */
body,
p,
span {
  font-family: 'Lato', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif !important;
}

/* -------------------------------------------------------------------------- */
/*                                 Main Colors                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: #262626;
  color: #fff;
  overflow-x: hidden;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.contenedor.full {
  padding: unset;
}

.column-50 {
  width: 50%;
  padding-right: 5%;
  padding-left: 2%;
}
.column-50 h1 {
  font-size: 300%;
}

.separator {
  position: absolute;
  width: 100%;
  top: 170vh;
}
.separator img {
  max-width: 100%;
}

.btn {
  background: #41976d;
  color: #fff;
  border-radius: 20px;
  font-family: 'Lato', sans-serif !important;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 15px;
  text-align: center;
  margin: 20px auto;
}
.btn:hover {
  background: #fff;
  color: #41976d;
  transition: all 0.3s ease-in-out;
}

.slick-slide {
  opacity: 1 !important;
}

.slick-arrow-prev {
  top: 47em !important;
  width: 5% !important;
  left: 5% !important;
}
@media screen and (max-width: 600px) {
  .slick-arrow-prev {
    width: 15% !important;
  }
}

.slick-arrow-next {
  top: 47em !important;
  width: 5% !important;
  right: 5% !important;
}
@media screen and (max-width: 600px) {
  .slick-arrow-next {
    width: 15% !important;
  }
}

section {
  transition: all 0.5s ease-in-out;
}

.is-blured {
  transition: all 0.5s ease-in-out;
  filter: blur(5px);
}

footer {
  background: #4e4e4e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px 5%;
}

header {
  position: fixed;
  top: 2%;
  left: 5%;
  margin: 0 auto;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(
    15px
  ); /* agrego esto porque el blur sino no aparece en safari */
  border-radius: 40px;
  width: 90%;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  color: #fff;
  width: 40%;
  padding: 10px 25px;
}
header nav li a {
  color: #fff;
  text-decoration: none;
}

header .logo {
  width: 10%;
}
header .logo img {
  max-width: 80%;
}
header .hamburger {
  display: none;
}
@media screen and (max-width: 1600px) {
  header nav {
    width: 50%;
  }
  header .logo {
    width: 20%;
  }
}
@media screen and (max-width: 1500px) {
  header nav {
    width: 45%;
  }
}
@media screen and (max-width: 1000px) {
  header .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }
  header .hamburger img {
    max-width: 20px;
  }
  header .logo {
    width: 50%;
  }
  header nav {
    display: none;
    background: unset;
    backdrop-filter: none;
  }
  header nav.active {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  header nav.active li {
    width: 100%;
    text-align: right;
    margin: 10px 0;
  }
  header nav.active li a {
    color: #fff;
    text-decoration: none;
  }
}

.slider {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}
.slider .info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
}
.slider .info-container .col-60 {
  width: 50%;
  background: url('./assets/images/slider-bg-right.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.slider .info-container .col-40 {
  width: 50%;
  padding-left: 5%;
  background: url('./assets/images/slider-bg-left2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.slider .info-container .text {
  font-size: 330%;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 70%;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .slider .info-container .text {
    overflow: unset;
  }
}
.slider .info-container .logo {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.slider .info-container .btn {
  background: #41976d;
  color: #fff;
  border-radius: 20px;
  font-family: 'Lato', sans-serif !important;
  min-width: 20%;
  max-width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  text-align: center;
  margin: 20px 0;
}
.slider .info-container .btn::after {
  content: '';
}
.slider .info-container .btn:hover {
  background: #fff;
  color: #41976d;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1600px) {
  .slider {
    height: 100vh;
  }
}
@media screen and (max-width: 1100px) {
  .slider {
    height: 100vh;
  }
  .slider .info-container .col-40 .text {
    font-size: 230% !important;
    width: 90% !important;
  }
  .slider .info-container .col-40 .btn {
    min-width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .slider .info-container .col-40 {
    padding-top: 5%;
    padding-left: 5%;
    width: 70%;
  }
  .slider .info-container .col-40 .text {
    font-size: 400%;
  }
  .slider .info-container .col-40 .btn {
    max-width: 50%;
  }
  .slider .info-container .col-60 {
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .slider {
    background-position: 10% -40%;
  }
  .slider .info-container .col-60 {
    display: none;
  }
  .slider .info-container .col-40 {
    width: 100%;
    padding: 25% 10% 10% 10%;
  }
  .slider .info-container .col-40 .text {
    font-size: 250%;
  }
  .slider .info-container .col-40 .logo {
    text-align: center;
    margin-top: 90px;
  }
  .slider .info-container .col-40 .btn {
    margin: 0 auto;
    margin-top: 30px;
  }
}

.proposal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  overflow: hidden;
}
.proposal .column-50 {
  width: 50%;
  padding-top: 10%;
}
.proposal .column-50 h1 {
  font-size: 300%;
}
@media screen and (max-width: 1100px) {
  .proposal .column-50 h1 {
    font-size: 200% !important;
  }
}
@media screen and (max-width: 800px) {
  .proposal-column-50 {
    padding-left: 7%;
  }
}

@media screen and (min-width: 801px) {
  .services-column-50 {
    padding-left: 14%;
    padding-right: 6%;
  }
  .services .servicios-grupo img {
    padding-left: 0% !important;
  }
  .proposal-column-50 {
    padding: 0% !important;
    padding-top: 10% !important;
  }
  .proposal .column-50 p {
    width: 60% !important;
  }
}

.proposal .column-50 p {
  font-size: 110%;
  margin: 30px 0;
  width: 70%;
}
@media screen and (max-width: 1100px) {
  .proposal .column-50 p {
    font-size: 100% !important;
  }
}
.proposal .column-50 .pin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: left;
}
.proposal .column-50 .pin-container .pin {
  width: 100%;
  text-align: left;
}
.proposal .chipset {
  padding: unset;
  height: 100vh;
  height: auto;
}
@media screen and (max-width: 1600px) {
  .proposal {
    margin-top: 0;
  }
  .proposal .column-50 p {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  /*.proposal .chipset {
    display: none;
  }*/
  .proposal .column-50 {
    width: 100%;
  }
}

.services {
  padding: 5% 0;
  background: linear-gradient(180deg, black 0%, black 30%, #4e4e4e 100%);
}
.services .icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 30px 0;
}
.services .icon-container .icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.services .icon-container .icon h3 {
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  width: 50%;
}
.services .icon-container .esp h3 {
  width: 70%;
}
@media screen and (max-width: 600px) {
  .services .icon-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.services .column-50 p {
  font-size: 110%;
  margin: 30px 0 80px 0;
  width: 100%;
  line-height: 1.5;
}
@media screen and (max-width: 1100px) {
  .services .column-50 p {
    font-size: 100%;
  }
}
.services .servicios-grupo img {
  max-width: 100%;
}
.services .contenedor {
  justify-content: center;
}
.services .contenedor .btn {
  padding: 15px 100px;
}
@media screen and (max-width: 1600px) {
  .services {
    background-size: contain;
  }
}

@media screen and (max-width: 800px) {
  .services .contenedor {
    padding: 0 5%;
    padding-top: 20%;
  }
  .services .contenedor .column-50 {
    width: 100%;
  }
  .services .servicios-grupo {
    display: none;
  }
  .services .icon-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .services .icon-container .icon h3 {
    width: 100%;
    font-size: 90%;
  }
  .services .icon-container .esp h3 {
    width: 100%;
    font-size: 75%;
  }
}
@media screen and (max-width: 600px) {
  .services .contenedor {
    padding-top: 80%;
  }
  .services .contenedor.full {
    padding-top: unset;
  }
  .services .contenedor .column-50.servicios-grupo {
    display: none;
  }
}

.services .btn {
  left: 45%;
  min-width: 10%;
  padding: 15px;
  text-transform: uppercase;
  margin: 80px 0 40px;
}
@media screen and (max-width: 800px) {
  .services .btn {
    left: 32%;
  }
  .services .btn-es {
    font-size: 80%;
  }
}

.development {
  justify-content: center;
  position: relative;
}
/* .development .btn {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 45%;
  min-width: 10%;
  padding: 15px;
  text-transform: uppercase;
}
@media screen and (max-width: 800px) {
  .development .btn {
    left: 32%;
  }
}
*/
.development .page-bg {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  /*background: url("assets/images/dev-bg.png");*/
  background-position: top;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  backdrop-filter: opacity(0.3);
}
.development h1 {
  text-align: center;
  width: 100%;
  font-size: 300%;
  padding-top: 5%;
}
.development .slider-dev {
  margin: 50px 0 !important;
  width: 100%;
  overflow: hidden;
}
.development .slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 50px;
  margin: 130px 20px;
  background: #838383;
  border-radius: 15px;
}
@media screen and (max-width: 1128px) {
  .development .slide {
    margin-bottom: 80px;
  }
  .development .btn {
    max-width: 70% !important;
  }
}
.development .slide img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  margin: auto;
}
@media screen and (max-width: 800px) {
  .development .slide img {
    width: 398px;
    height: 335px;
    border-radius: 20px;
  }
}
@media screen and (max-width: 600px) {
  .development .slide img {
    width: 200px;
    height: 335px;
  }
}
.development .slide h3 {
  margin: 0 auto;
  width: 90%;
  min-height: 120px;
  padding: 25px 0;
  text-align: center;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  .development .slide h3 {
    font-size: 90%;
  }
}
.development .slide .btn {
  min-width: 30%;
  max-width: 40%;
  cursor: pointer;
  position: relative;
  left: unset;
  text-transform: unset;
}
@media screen and (max-width: 600px) {
  .development .slide .btn {
    max-width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .development .slide {
    margin: 0 20px;
    padding: 20px 10px;
  }
}
/*@media screen and (max-width: 1600px) {
  .development h1 {
    padding-top: 10%;
  }
}
@media screen and (max-width: 1100px) {
  .development h1 {
    padding-top: 15%;
  }
}*/
@media screen and (max-width: 800px) {
  /*.development h1 {
    padding-top: 30%;
  }*/
  .development .slide img {
    margin: 0 auto;
  }
}
/*@media screen and (max-width: 600px) {
  .development h1 {
    padding-top: 55%;
  }
} */

.partners {
  height: 120vh;
  /*background: url("assets/images/partners-bg.svg");*/
  background: linear-gradient(#337554, #41976d);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 10%;
}
.partners .title-bg {
  width: 50%;
  padding: 15px 0;
  margin: 30px auto 80px auto;
  border-radius: 50px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.1);
}
.partners .title-bg h1 {
  text-align: center;
  font-size: 300%;
}
.partners .partners-3 {
  width: 70%;
  padding: 10px 0;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.partners .partners-4 {
  width: 90%;
  padding: 10px 0;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 2000px) {
  .partners {
    height: 112vh;
    padding: 5%;
  }
}
@media screen and (max-width: 1600px) {
  .partners {
    height: 110vh;
    padding: 5%;
  }
  .partners .title-bg {
    width: 70%;
  }
  .partners .partners-3 {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .partners .partners-3 img {
    max-width: 30%;
  }
  .partners .partners-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .partners .partners-4 img {
    max-width: 15%;
  }
}
@media screen and (max-width: 600px) {
  .partners {
    height: 82vh;
  }
  .partners .title-bg {
    width: 50%;
    font-size: 60%;
  }
  .partners .title-bg h1 {
    font-size: 200%;
  }
}

.contact {
  padding-top: 3%;
  /*background: url("./assets/images/separador.png");*/
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top;
}
@media screen and (max-width: 600px) {
  .contact {
    background: none;
  }
}
.contact .column-50 p {
  width: 60%;
}
@media screen and (max-width: 600px) {
  .contact .column-50 p {
    width: 100%;
  }
}
.contact .column-50 form {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.contact .column-50 form input,
.contact .column-50 form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: unset;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 10px 0;
}
.contact .column-50 form input::placeholder,
.contact .column-50 form textarea::placeholder {
  color: #fff;
}
.contact .column-50 form .btn {
  min-width: 300px;
  margin: unset;
  margin-top: 15px;
  padding: 15px;
}
.contact .column-50 .info-container {
  background-color: #41976d;
  padding: 10px 20px 20px 40px;
  border-radius: 20px;
  box-shadow: inset 0px 3px 10px 0px rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: auto;
  padding: 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  font-family: 'Poppins', sa ns-serif !important;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container {
    height: auto;
  }
}
.contact .column-50 .info-container .logo {
  width: 30%;
}
@media screen and (max-width: 1600px) {
  .contact .column-50 .info-container .logo {
    width: 40%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  .contact .column-50 .info-container .logo {
    width: 70%;
  }
}
.contact .column-50 .info-container .data {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
@media screen and (max-width: 1600px) {
  .contact .column-50 .info-container .data {
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container .data {
    margin-top: 20px;
  }
}
.contact .column-50 .info-container ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container ul {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .contact .column-50 .info-container ul {
    justify-content: center;
  }
}
.contact .column-50 .info-container ul li {
  width: 100%;
  margin: 10px 0;
  font-size: 120%;
  max-width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container ul li {
    margin: 10px 0;
    font-size: 100%;
  }
}
@media screen and (max-width: 600px) {
  .contact .column-50 .info-container ul li {
    width: 100%;
    max-width: unset;
  }
}
.contact .column-50 .info-container ul li img {
  width: 25px;
}
.contact .column-50 .info-container ul li span {
  width: 80%;
  padding-left: 4%;
}
@media screen and (max-width: 600px) {
  .contact .column-50 .info-container ul li span {
    width: 75%;
    padding-left: 10px;
    max-width: unset !important;
  }
}
.contact .column-50 iframe {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .contact .column-50 {
    width: 100%;
    margin: 20px 0;
  }
  .contact .column-50 .info-container ul li {
    margin: 14px 0;
    font-size: 100%;
    padding-left: 10px;
  }
  .contact .column-50 .info-container ul li img {
    width: 20px;
  }
  .contact .column-50 .info-container ul li:first-of-type {
    margin: 5px 0 20px 0;
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 99999;
  display: none;
}
.popup .popup-container {
  width: 100%;
  height: 100%;
  background: #777777;
  color: #fff;
  border-radius: 20px;
  padding: 5%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  overflow: scroll;
}
@media screen and (max-width: 1100px) {
  .popup .popup-container {
    padding: 10% 5% 10% 5%;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .popup .popup-container h1 {
    margin-top: 40px;
  }
}
.popup .popup-container .close {
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.popup .popup-container .column-50 {
  width: 39%;
  padding: 0;
}
.popup .popup-container .column-50 h1 {
  width: 80%;
  font-size: 200%;
}
.popup .popup-container .column-50 p {
  padding-top: 50px;
  font-size: 110%;
  line-height: 2;
  width: 80%;
}
@media screen and (max-width: 1100px) {
  .popup .popup-container .column-50 {
    width: 100%;
  }
}
.popup .popup-container .column-50:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: unset;
  gap: 20px;
  width: 60%;
}
@media screen and (max-width: 1100px) {
  .popup .popup-container .column-50:nth-of-type(2) {
    width: 100%;
    margin-top: 25px;
  }
}
.popup .popup-container .column-50.images img {
  width: 470px;
  height: 365px;
}
@media screen and (max-width: 1600px) {
  .popup .popup-container .column-50.images img {
    width: 326px;
    height: 252px;
  }
}
.popup .popup-container .logo {
  position: absolute;
  bottom: 10%;
  left: 3%;
}
@media screen and (max-width: 1100px) {
  .popup .popup-container .logo {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .popup .popup-container .logo {
    left: unset;
    right: 3%;
  }
}

@media screen and (max-width: 1100px) {
  h1 {
    font-size: 200% !important;
  }
}

/*# sourceMappingURL=style.css.map */
