/* -------------------------------------------------------------------------- */
/*                                Font Weights                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                             General Text Styles                            */
/* -------------------------------------------------------------------------- */
body, p, span {
  font-family: "Lato", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif !important;
}

/* -------------------------------------------------------------------------- */
/*                                 Main Colors                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: #262626;
  color: #fff;
  overflow-x: hidden;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
  padding: 0 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.contenedor.full {
  padding: unset;
}

.column-50 {
  width: 50%;
  padding: 0 5%;
}
.column-50 h1 {
  font-size: 300%;
}

.separator {
  position: absolute;
  width: 100%;
  top: 170vh;
}
.separator img {
  max-width: 100%;
}

.btn {
  background: #41976D;
  color: #fff;
  border-radius: 20px;
  font-family: "Lato", sans-serif !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px 15px;
  text-align: center;
  margin: 20px auto;
}
.btn:hover {
  background: #fff;
  color: #41976D;
  transition: all 0.3s ease-in-out;
}

.slick-slide {
  opacity: 1 !important;
}

.slick-arrow-prev {
  top: 16em !important;
  width: 5% !important;
  left: 5% !important;
}
@media screen and (max-width: 600px) {
  .slick-arrow-prev {
    width: 15% !important;
  }
}

.slick-arrow-next {
  top: 16em !important;
  width: 5% !important;
  right: 5% !important;
}
@media screen and (max-width: 600px) {
  .slick-arrow-next {
    width: 15% !important;
  }
}

section {
  transition: all 0.5s ease-in-out;
}

.is-blured {
  transition: all 0.5s ease-in-out;
  filter: blur(5px);
}

footer {
  background: #4E4E4E;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 20px 5%;
}

header {
  position: fixed;
  top: 2%;
  left: 5%;
  margin: 0 auto;
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 40px;
  width: 90%;
  z-index: 99999;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  list-style: none;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(50px);
  border-radius: 20px;
  blur: 15px;
  color: #fff;
  width: 30%;
  padding: 10px 25px;
}
header .logo {
  width: 10%;
}
header .logo img {
  max-width: 80%;
}
header .hamburger {
  display: none;
}
@media screen and (max-width: 1600px) {
  header nav {
    width: 50%;
  }
  header .logo {
    width: 20%;
  }
}
@media screen and (max-width: 600px) {
  header .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }
  header .hamburger img {
    max-width: 20px;
  }
  header .logo {
    width: 50%;
  }
  header nav {
    display: none;
    background: unset;
    backdrop-filter: none;
  }
  header nav.active {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  header nav.active li {
    width: 100%;
    text-align: right;
    margin: 10px 0;
  }
}

.slider {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100vh;
}
.slider .info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
}
.slider .info-container .col-60 {
  width: 50%;
  background: url("./assets/images/slider-bg-right.jpg");
  height: 100%;
}
.slider .info-container .col-40 {
  width: 50%;
  padding-left: 5%;
  background: url("./assets/images/slider-bg-left.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.slider .info-container .text {
  font-size: 350%;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 60%;
  margin-bottom: 50px;
}
.slider .info-container .logo {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}
.slider .info-container .btn {
  background: #41976D;
  color: #fff;
  border-radius: 20px;
  font-family: "Lato", sans-serif !important;
  min-width: 20%;
  max-width: 35%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  text-align: center;
  margin: 20px 0;
}
.slider .info-container .btn::after {
  content: "";
}
.slider .info-container .btn:hover {
  background: #fff;
  color: #41976D;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1600px) {
  .slider {
    height: 100vh;
  }
}
@media screen and (max-width: 1100px) {
  .slider {
    height: 100vh;
  }
  .slider .info-container .col-40 .text {
    font-size: 250%;
  }
  .slider .info-container .col-40 .btn {
    min-width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .slider {
    background-size: cover;
    background-image: url("./assets/images/slider-mobile-bg.png");
    background-position: top !important;
  }
  .slider .info-container .col-40 {
    padding-top: 5%;
    padding-left: 5%;
    width: 100%;
  }
  .slider .info-container .col-40 .text {
    font-size: 400%;
  }
  .slider .info-container .col-40 .btn {
    max-width: 50%;
  }
  .slider .info-containr .col-60 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .slider {
    background-position: 10% -40%;
  }
  .slider .info-container .col-60 {
    display: none;
  }
  .slider .info-container .col-40 {
    width: 100%;
    padding: 25% 10% 10% 10%;
  }
  .slider .info-container .col-40 .text {
    font-size: 250%;
  }
  .slider .info-container .col-40 .logo {
    text-align: center;
    margin-top: 90px;
  }
  .slider .info-container .col-40 .btn {
    margin: 0 auto;
    margin-top: 30px;
  }
}

.proposal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  overflow: hidden;
}
.proposal .column-50 {
  width: 50%;
  padding: 10%;
}
.proposal .column-50 h1 {
  font-size: 300%;
}
.proposal .column-50 p {
  font-size: 110%;
  margin: 30px 0;
  width: 90%;
}
.proposal .column-50 .pin-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: left;
}
.proposal .column-50 .pin-container .pin {
  width: 100%;
  text-align: left;
}
.proposal .chipset {
  padding: unset;
  height: 100vh;
  height: auto;
}
@media screen and (max-width: 1600px) {
  .proposal {
    margin-top: 0;
  }
  .proposal .column-50 {
    padding: 5% 10%;
  }
  .proposal .column-50 p {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .proposal {
    background: unset;
  }
}
@media screen and (max-width: 1100px) {
  .proposal {
    margin-top: -25vh;
  }
  .proposal .column-50 {
    width: 100%;
    padding: 0 5%;
    text-align: left;
  }
  .proposal .column-50 p {
    width: 100%;
  }
  .proposal .chipset {
    background-size: contain;
    margin-top: unset;
  }
}

.services {
  padding: 5% 0;
  background: linear-gradient(180deg, black 0%, black 30%, #4e4e4e 100%);
}
.services .icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin: 30px 0;
}
.services .icon-container .icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.services .icon-container .icon h3 {
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .services .icon-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.services .column-50 p {
  font-size: 110%;
  margin: 30px 0 80px 0;
  width: 100%;
  line-height: 1.5;
}
.services .servicios-grupo img {
  max-width: 100%;
}
.services .contenedor {
  justify-content: center;
}
.services .contenedor .btn {
  padding: 15px 100px;
}
@media screen and (max-width: 1600px) {
  .services {
    background-size: contain;
  }
}
@media screen and (max-width: 1100px) {
  .services {
    background: url("assets/images/separator.svg");
    background-repeat: no-repeat;
    background-position: top;
  }
  .services .contenedor {
    padding-top: 10%;
  }
  .services .contenedor .column-50 {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .services .contenedor {
    padding: 0 5%;
    padding-top: 20%;
  }
}
@media screen and (max-width: 600px) {
  .services .contenedor {
    padding-top: 80%;
  }
  .services .contenedor.full {
    padding-top: unset;
  }
  .services .contenedor .column-50.servicios-grupo {
    display: none;
  }
}

.development {
  padding: 10% 0;
  justify-content: center;
  position: relative;
}
.development .btn {
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 50%;
  min-width: 10%;
  padding: 15px;
  text-transform: uppercase;
}
.development .page-bg {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  background: url("assets/images/dev-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  backdrop-filter: opacity(0.3);
}
.development h1 {
  text-align: center;
  width: 100%;
  font-size: 300%;
  padding-top: 5%;
}
.development .slider-dev {
  margin: 50px 0 !important;
  width: 100%;
  overflow: hidden;
}
.development .slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 20px 50px;
  margin: 0 20px;
  background: #838383;
  border-radius: 15px;
}
.development .slide img {
  width: 450px;
  height: 350px;
  object-fit: cover;
}
.development .slide h3 {
  margin: 0 auto;
  width: 90%;
  min-height: 120px;
  padding: 25px 0;
  text-align: center;
  font-weight: 500;
}
.development .slide .btn {
  width: 60%;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .development .slide {
    margin: 0 20px;
    padding: 20px 10px;
  }
}
@media screen and (max-width: 1600px) {
  .development h1 {
    padding-top: 10%;
  }
}
@media screen and (max-width: 1100px) {
  .development h1 {
    padding-top: 15%;
  }
}
@media screen and (max-width: 800px) {
  .development h1 {
    padding-top: 20%;
  }
}
@media screen and (max-width: 600px) {
  .development h1 {
    padding-top: 45%;
  }
}

.partners {
  height: 115vh;
  background: url("assets/images/partners-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 10%;
}
.partners .title-bg {
  width: 50%;
  padding: 15px 0;
  margin: 30px auto 80px auto;
  border-radius: 50px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.1);
}
.partners .title-bg h1 {
  text-align: center;
  font-size: 300%;
}
.partners .partners-3 {
  width: 70%;
  padding: 10px 0;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.partners .partners-4 {
  width: 90%;
  padding: 10px 0;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 1600px) {
  .partners {
    height: 120vh;
    padding: 5%;
  }
  .partners .title-bg {
    width: 70%;
  }
  .partners .partners-3 {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .partners .partners-3 img {
    max-width: 30%;
  }
  .partners .partners-4 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .partners .partners-4 img {
    max-width: 15%;
  }
}
@media screen and (max-width: 600px) {
  .partners {
    height: 100vh;
  }
  .partners .title-bg {
    width: 100%;
  }
  .partners .title-bg h1 {
    font-size: 200%;
  }
}

.contact {
  padding: 15% 0 5% 0;
  background: url("./assets/images/separador.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: top;
}
.contact .column-50 p {
  width: 60%;
}
.contact .column-50 form {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.contact .column-50 form input, .contact .column-50 form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: unset;
  color: #fff;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 10px 0;
}
.contact .column-50 form input::placeholder, .contact .column-50 form textarea::placeholder {
  color: #fff;
}
.contact .column-50 form .btn {
  min-width: 300px;
  margin: unset;
  margin-top: 15px;
  padding: 15px;
}
.contact .column-50 .info-container {
  background-color: #41976d;
  padding: 10px 20px 20px 40px;
  border-radius: 20px;
  box-shadow: inset 0px 3px 10px 0px rgba(255, 255, 255, 0.4);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 45vh;
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container {
    height: 35vh;
  }
}
.contact .column-50 .info-container .logo {
  width: 30%;
}
@media screen and (max-width: 1600px) {
  .contact .column-50 .info-container .logo {
    width: 40%;
    margin-top: 10px;
  }
}
.contact .column-50 .info-container .data {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
@media screen and (max-width: 1600px) {
  .contact .column-50 .info-container .data {
    margin-top: 40px;
  }
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container .data {
    margin-top: 20px;
  }
}
.contact .column-50 .info-container ul {
  list-style: none;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container ul {
    width: 100%;
  }
}
.contact .column-50 .info-container ul li {
  width: 100%;
  margin: 20px 0;
  font-size: 120%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .contact .column-50 .info-container ul li {
    margin: 10px 0;
    font-size: 100%;
  }
}
.contact .column-50 .info-container ul li img {
  width: 25px;
}
.contact .column-50 .info-container ul li span {
  width: 80%;
  padding-left: 5%;
}
.contact .column-50 iframe {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .contact .column-50 {
    width: 100%;
    margin: 20px 0;
  }
  .contact .column-50 .info-container ul li {
    margin: 14px 0;
    font-size: 100%;
    padding-left: 10px;
  }
  .contact .column-50 .info-container ul li img {
    width: 20px;
  }
  .contact .column-50 .info-container ul li:first-of-type {
    margin: 5px 0 20px 0;
  }
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
}
.popup .popup-container {
  width: 70vw;
  height: auto;
  background: #777777;
  color: #fff;
  border-radius: 20px;
  padding: 5% 2%;
  margin: 10% auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.popup .popup-container .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.popup .popup-container .column-50 {
  width: 49%;
  padding: 0;
}
.popup .popup-container .column-50 h1 {
  width: 80%;
  font-size: 200%;
}
.popup .popup-container .column-50 p {
  font-size: 90%;
  line-height: 2;
  width: 80%;
}
.popup .popup-container .column-50:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.popup .popup-container .column-50.images img {
  width: 100%;
  height: 100%;
}
.popup .popup-container .logo {
  position: absolute;
  bottom: 30px;
  left: 3%;
}
@media screen and (max-width: 800px) {
  .popup .popup-container {
    width: 90vw;
    margin: 20% auto 0 auto;
  }
  .popup .popup-container .logo {
    left: unset;
    right: 3%;
  }
}

/*# sourceMappingURL=style.css.map */
