/* -------------------------------------------------------------------------- */
/*                                 Main Colors                                */
/* -------------------------------------------------------------------------- */

$principal:#41976D
$secundario:#AEE8B7
$main-gradient: linear-gradient(90deg, #41976D, #214C37)
$white: #fff
$black: #000
$dark-gray: #262626
$light-gray: #777777
/* -------------------------------------------------------------------------- */
/*                                   Mixins                                   */
/* -------------------------------------------------------------------------- */

=flexbox( $flex-direction, $flex-wrap, $justify-content, $align-items, $align-content)
	display: flex
	flex-direction: $flex-direction
	flex-wrap: $flex-wrap
	justify-content: $justify-content
	align-items: $align-items
	align-content: $align-content

//Breakpoints

$break-xxl: 1600px // Desktop large
$break-xl: 1024px // Desktop
$break-lg: 1100px //Tablet Landscape
$break-md: 800px // Tablet Portrait
$break-sm: 600px // Mobile