header
  position: fixed
  top: 2%
  left: 5%
  margin: 0 auto
  padding: 10px 25px
  background: rgba(255,255,255,0.3)
  backdrop-filter: blur(15px)
  border-radius: 40px
  width: 90%
  z-index: 99999
  +flexbox(row,wrap,space-between,center,center)
  nav
    +flexbox(row,wrap,space-between,center,center)
    list-style: none
    background: rgba(0,0,0,0.7)
    backdrop-filter: blur(50px)
    border-radius: 20px
    blur: 15px
    color: $white
    width: 30%
    padding: 10px 25px
  .logo
    width: 10%
    img
      max-width: 80%
  .hamburger
    display: none
  @media screen and (max-width: $break-xxl)
    nav
      width: 50%
    .logo
      width: 20%
  @media screen and (max-width: $break-sm)
    .hamburger
      display: block
      cursor: pointer
      margin-right: 30px
      img
        max-width: 20px
    .logo
      width: 50%
    nav
     display: none
     background: unset
     backdrop-filter: none
     &.active
       display: flex
       justify-content: flex-end
       width: 100%
       li
        width: 100%
        text-align: right
        margin: 10px 0
    
  
.slider
  background-position: top
  background-repeat: no-repeat
  background-size: 100%
  width: 100%
  height: 100vh
  .info-container
    +flexbox(row,wrap,space-between,flex-start,flex-start)
    height: 100%
    .col-60
      width: 50%
      background: url('./assets/images/slider-bg-right.jpg')
      height: 100%
    .col-40
      width: 50%
      padding-left: 5%
      background: url('./assets/images/slider-bg-left.jpg')
      background-repeat: no-repeat
      background-size: cover
      height: 100%
      +flexbox(row,wrap,flex-start,center,center)
    .text
      font-size: 350%
      line-height: 1.2
      color: $white
      text-transform: uppercase
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      overflow: hidden
      width: 60%
      margin-bottom: 50px
    .logo
      width: 100%
      margin-top: 25px
      margin-bottom: 25px
    .btn
      background: $principal
      color: $white
      border-radius: 20px
      font-family: $font-text
      min-width: 20%
      max-width: 35%
      +flexbox(row,wrap,center,center,center)
      padding: 15px
      text-align: center
      margin: 20px 0
      &::after
        content: ""
      &:hover
        background: $white
        color: $principal
        transition: all 0.3s ease-in-out
  @media screen and (max-width: $break-xxl)
    height: 100vh
  @media screen and (max-width: $break-lg)
    height:100vh
    .info-container .col-40 
      .text
        font-size: 250%
      .btn
        min-width: 25%
  @media screen and (max-width: $break-md)
    background-size: cover
    background-image: url('./assets/images/slider-mobile-bg.png')
    background-position: top !important
    .info-container .col-40
      padding-top: 5%
      padding-left: 5%
      width: 100%
      .text
        font-size: 400%
      .btn
        max-width: 50%
    .info-containr .col-60
      display: none
  @media screen and (max-width: $break-sm)
    background-position: 10% -40%
    .info-container
      .col-60
        display: none
      .col-40
        width: 100%
        padding: 25% 10% 10% 10%
        .text
          font-size: 250%
        .logo
          text-align: center
          margin-top: 90px
        .btn
          margin: 0 auto
          margin-top: 30px
.proposal
  +flexbox(row,wrap,space-between,flex-start,flex-start)
  width: 100%
  overflow: hidden
  .column-50
    width: 50%
    padding: 10%
    h1
      font-size: 300%
    p
      font-size: 110%
      margin: 30px 0
      width: 90%
    .pin-container
      +flexbox(row,wrap,flex-start,center,center)
      text-align: left
      .pin
        width: 100%
        text-align: left
  .chipset
    padding: unset
    height: 100vh
    height: auto
  @media screen and (max-width: $break-xxl)
    margin-top: 0
    .column-50 
      padding: 5% 10%
      p
        width: 100%

  @media screen and (max-width: $break-xl)
    background: unset
  @media screen and (max-width: $break-lg)
    margin-top: -25vh
    .column-50
      width: 100%
      padding: 0 5%
      text-align: left
      p
        width: 100%
    .chipset
      background-size: contain
      margin-top: unset
   
.services
  padding: 5% 0
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(78,78,78,1) 100%)
  .icon-container
    display: grid
    grid-template-columns: repeat(4,1fr)
    gap: 5px
    margin: 30px 0
    .icon
      +flexbox(row,wrap,center,center,center)
      .icon-image
      h3
        font-size: 100%
        font-weight: $medium
        text-align: center
        width: 50%
    @media screen and (max-width: $break-sm)
      grid-template-columns: repeat(2,1fr)
  .column-50
    p
      font-size: 110%
      margin: 30px 0 80px 0
      width: 100%
      line-height: 1.5
  .servicios-grupo img
    max-width: 100%
  .contenedor
    justify-content: center
    .btn
      padding: 15px 100px
  @media screen and (max-width: $break-xxl)
    background-size: contain
  @media screen and (max-width: $break-xl)
    
  @media screen and (max-width: $break-lg)
    background: url('assets/images/separator.svg')
    background-repeat: no-repeat
    background-position: top
    .contenedor 
      padding-top: 10%
      .column-50
        width: 100%
  @media screen and (max-width: $break-md)
    .contenedor 
      padding: 0 5%
      padding-top: 20%
  @media screen and (max-width: $break-sm)
    .contenedor
      padding-top: 80%
      &.full
        padding-top: unset
      .column-50
        &.servicios-grupo
          display: none
.development
  padding: 10% 0
  justify-content: center
  position: relative
  .btn
    z-index: 9999
    position: absolute
    top: 0
    left: calc( 100% - 50%)
    min-width: 10%
    padding: 15px
    text-transform: uppercase
  .page-bg
    position: absolute
    width: 100%
    height: 50vh
    top: 0
    background: url('assets/images/dev-bg.png')
    background-position: top
    background-repeat: no-repeat
    filter: grayscale(100%)
    backdrop-filter: opacity(0.3)
  h1
    text-align: center
    width: 100%
    font-size: 300%
    padding-top: 5%
  .slider-dev
    margin: 50px 0 !important
    width: 100%
    overflow: hidden
  .slide
    +flexbox(row,wrap,center,center,center)
    padding: 20px 50px
    margin: 0 20px
    background: #838383
    border-radius: 15px
    img
      width: 450px
      height: 350px
      object-fit: cover
    h3
      margin: 0 auto
      width: 90%
      min-height: 120px
      padding: 25px 0
      text-align: center
      font-weight: $medium
    .btn
      width: 60%
      cursor: pointer
    @media screen and (max-width: $break-sm)
      margin: 0 20px
      padding: 20px 10px
      
  @media screen and (max-width: $break-xxl)
    h1
      padding-top: 10%
  @media screen and (max-width: $break-lg)
    h1
      padding-top: 15%
  @media screen and (max-width: $break-md)
    h1
      padding-top: 20%
  @media screen and (max-width: $break-sm)
    h1
      padding-top: 45%

.partners
  height: 115vh
  background: url('assets/images/partners-bg.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 5% 10%
  .title-bg  
    width: 50%
    padding: 15px 0
    margin: 30px auto 80px auto
    border-radius: 50px
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .4)
    background: rgba(255,255,255,0.1)
    h1
      text-align: center
      font-size: 300%
  .partners-3
    width: 70%
    padding: 10px 0
    margin: 10px auto
    +flexbox(row,wrap,space-between,center,center)
  .partners-4
    width: 90%
    padding: 10px 0
    margin: 10px auto
    +flexbox(row,wrap,space-between,center,center)
  @media screen and (max-width: $break-xxl)
    height: 120vh
    padding: 5%
    .title-bg
      width: 70%
    .partners-3
      width: 85%
      +flexbox(row,wrap,space-between,center,center)
      img
        max-width: 30%
    .partners-4
      width: 100%
      +flexbox(row,wrap,space-between,center,center)
      img
        max-width: 15%
  @media screen and (max-width: $break-sm)
    height: 100vh
    .title-bg
      width: 100%
      h1
        font-size: 200%
.contact
  padding: 15% 0 5% 0
  background: url('./assets/images/separador.png')
  background-repeat: no-repeat
  background-size: 110%
  background-position: top
  .column-50 
    p
      width: 60%
    form
      width: 100%
      margin-top: 60px
      +flexbox(row,wrap,flex-end,center,center)
      input, textarea
        width: 100%
        background: rgba(255,255,255,0.1)
        outline: none
        border: unset
        color: $white
        border-radius: 20px
        padding: 10px 25px
        margin: 10px 0
        &::placeholder
          color: $white
      .btn
        min-width: 300px
        margin: unset
        margin-top: 15px
        padding: 15px
    .info-container
      background-color: #41976d
      padding: 10px 20px 20px 40px
      border-radius: 20px
      box-shadow: inset 0px 3px 10px 0px rgba(255, 255, 255, 0.4)
      border-bottom-left-radius: 20px
      border-bottom-right-radius: 20px
      height: 45vh
      padding: 5% 
      +flexbox(row,wrap,space-between,flex-start,flex-start)
      @media screen and (max-width: $break-md)
        height: 35vh
      .logo
        width: 30%
  
      @media screen and (max-width: $break-xxl)
        .logo
          width: 40%
          margin-top: 10px
       
      .data
        width: 100%
        margin-top: 80px
        +flexbox(row,wrap,space-between,flex-start,flex-start)
        @media screen and (max-width: $break-xxl)
          margin-top: 40px
        @media screen and (max-width: $break-md)
          margin-top: 20px
      ul
        list-style: none
        width: 90%
        +flexbox(row,wrap,flex-start,center,center)
        @media screen and (max-width: $break-md)
          width: 100%
        li
          width: 100%
          margin: 20px 0
          font-size: 120%
          +flexbox(row,wrap,flex-start,center,center)
          @media screen and (max-width: $break-md)
            margin: 10px 0
            font-size: 100%
          img
            width: 25px
          span
            width: 80%
            padding-left: 5%
          
    iframe
      width: 100%
  @media screen and (max-width: $break-sm)
    .column-50
      width: 100%
      margin: 20px 0
      .info-container ul li
        margin: 14px 0
        font-size: 100%
        padding-left: 10px
        img
          width: 20px
      .info-container ul li:first-of-type
        margin: 5px 0 20px 0
.popup
  position: fixed
  width: 100vw
  height: 100vh
  top:0
  +flexbox(row,wrap,center,center,center)
  display: none
  .popup-container
    width: 70vw
    height: auto
    background: $light-gray
    color: $white
    border-radius: 20px
    padding: 5% 2%
    margin: 10% auto 0 auto
    +flexbox(row,wrap,space-between,flex-start,flex-start)
    position: relative
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4)
    .close
      position: absolute
      top: 30px
      right: 30px
      cursor: pointer
    .column-50
      width: 49%
      padding: 0
      h1
        width: 80%
        font-size: 200%
      p
        font-size: 90%
        line-height: 2
        width: 80%
      &:nth-of-type(2)
        display: grid
        grid-template-columns: repeat(2,1fr)
        gap: 20px
      &.images
        img
          width: 100%
          height: 100%
    .logo
      position: absolute
      bottom: 30px 
      left: 3%
    @media screen and (max-width: $break-md)
      width: 90vw
      margin: 20% auto 0 auto
      .logo
        left: unset
        right: 3%